@use "../../assets//scss/mixins" as m;
@use "../../assets//scss/variables" as v;

.loading-page{
    background-color: v.$color1;
    width:100vw;
    height:100vh;
    @include m.flexbox(row,center,center,0);

    img{
        width:200px;
        height:auto;
    }
    .spinner-border{
        width:18rem;
        height:18rem;
        position:absolute;
        color: v.$color2 !important;
    }
}